#version 1
#PREAMBLE

#DOCUMENT
snippet dc \documentclass
\\documentclass[${1:options}]{${2:class}} ${0}
endsnippet

snippet txt_ "underscore _"
\textunderscore
endsnippet

snippet \_ "{\_}"
{\_}
endsnippet
