#sidebar-header {
  visibility: collapse;
}

/* sidebar appears on top without shifting page */
#sidebar-box {
  position: absolute;
  top: 41px; /* address bar is 40px, 1px splitter */
  height: 100%; /* 100vw appears to be buggy when small width */
  width: 50% !important; /* different versions have width defined differently, override all */
  z-index: 563;
}

/* splitter used to control size of sidebar, to use appear on top */
#sidebar-splitter {
  display: none;
}
