@import "colors.css";
@import "sidebar.css";
@import "navbar.css";

#TabsToolbar {
  visibility: collapse;
}

#titlebar {
  visibility: collapse;
}

/* Hide buttons in address bar */
#urlbar-go-button,
#reload-button {
  display: none;
}
